
.row {
    display: grid;
    grid-template: 1fr / 100px auto 30px;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid darkgrey;;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}