.checkbox {
    display: none;
}
label {
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}
.spanClassName {
    font-size: 18px;
    font-style: italic;
}
.text{
    position: relative;
    padding-left: 30px;
}
.text:before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: absolute;
    top:0;
    left:0;
}
.text:after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: green;
    position: absolute;
    top:5px;
    left:6px;
    opacity: 0;
}
.text:hover:before{
    background-color: yellow;
}
.text:hover:after{
    opacity: 1;
}
.checkbox:checked ~ .text:before {
    background-color: yellow;
}
.checkbox:checked ~ .text:after {
    opacity: 1;
}